# Azurite storage emulator
__azurite_db_*.json
__azurite_db_*.json~
__blobstorage__/
__queuestorage__/
__tablestorage__/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
