@page
@model IndexModel
@{
    ViewData["Title"] = "Weather ^^";
}

<div class="text-center">
    <h1 class="display-4">Pretty neat weather</h1>
    <p>Wie the source code on <a href="https://github.com/christopher-dabrowski/incredevo-recruitment-weather-graphs">christopher-dabrowski/incredevo-recruitment-weather-graphs</a>.</p>
</div>

<div id="temperature-diagram"></div>
<div id="wind-diagram"></div>

<p>Click on a city to view it's details</p>

@section Scripts
{
    <script src="js/drawDiagrams.js" defer ></script>
}
